$APP_WIDTH: 1280;
$APP_HEIGHT: 720;
$APP_BG_COLOUR: #000000;

$LANE_MARGIN: 5;

$CONTENT_BTN_HEIGHT: 250;
$CONTENT_BTN_WIDTH: 250;
$CONTENT_BTN_MARGIN: 5;

$PLAYER_CTRLS_BG_COLOUR: rgba(0, 0, 0, 0.4);

$PLAYER_CTRL_WIDTH: 50;
$PLAYER_CTRL_HEIGHT: 50;
$PLAYER_CTRL_FG_COLOUR: #888888;
$PLAYER_CTRL_BG_COLOUR: transparent;
$PLAYER_CTRL_FG_COLOUR_FOCUSED: #dddddd;
$PLAYER_CTRL_BG_COLOUR_FOCUSED: #222222;
$PLAYER_CTRL_BORDER_WIDTH: 0;
$PLAYER_CTRL_GAP_WIDTH: 10;

:export {
    APP_WIDTH: $APP_WIDTH;
    APP_HEIGHT: $APP_HEIGHT;
    CONTENT_BTN_HEIGHT: $CONTENT_BTN_HEIGHT;
    CONTENT_BTN_WIDTH: $CONTENT_BTN_WIDTH;
    CONTENT_BTN_MARGIN: $CONTENT_BTN_MARGIN;
}

body {
    margin: 0;
    overflow: hidden;
}

.app {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $APP_WIDTH + px;
    height: $APP_HEIGHT + px;
    background-color: $APP_BG_COLOUR;
    overflow: hidden;
}

.content-button {
    width: $CONTENT_BTN_WIDTH + px;
    height: $CONTENT_BTN_HEIGHT + px;
    margin: $CONTENT_BTN_MARGIN + px;
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
}

.content-button--focused {
    background-color: grey;
}

.lane {
    height: $CONTENT_BTN_HEIGHT + ($CONTENT_BTN_MARGIN * 2) + px;
    margin: $LANE_MARGIN + px;
    border: 1px dashed #666;
}

.player-ctrls {
    border: 1px dashed grey;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0 15px 0;
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    bottom: 25px;
    width: $APP_WIDTH - (10 * 2) - (5 * 2) + px;
    background-color: $PLAYER_CTRLS_BG_COLOUR;
}

.player-ctrl {
    margin-right: $PLAYER_CTRL_GAP_WIDTH + px;
    float: left;
    width: $PLAYER_CTRL_WIDTH + px;
    height: $PLAYER_CTRL_HEIGHT + px;
    color: $PLAYER_CTRL_FG_COLOUR;
    background-color: $PLAYER_CTRL_BG_COLOUR;
    border: $PLAYER_CTRL_BORDER_WIDTH + px solid $PLAYER_CTRL_FG_COLOUR;
}

.player-ctrl:last-child {
    margin-right: 0;
}

.player-ctrls-title {
    margin-left: 0;
    float: none;
    display: block;
    font-size: 30px;
    color: $PLAYER_CTRL_BG_COLOUR_FOCUSED;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    text-align: center;
}

.player-ctrls-btns {
    text-align: center;
    width: (
        $PLAYER_CTRL_WIDTH * 2 +
        ($PLAYER_CTRL_BORDER_WIDTH * 4) +
        ($PLAYER_CTRL_GAP_WIDTH * 1) +
        px
    );
    margin: 0 auto;
}

.player-ctrl__play {
    border-radius: 50%;
    border-color: none;
}

.player-ctrl__play--focused {
    color: $PLAYER_CTRL_FG_COLOUR_FOCUSED;
    background-color: $PLAYER_CTRL_BG_COLOUR_FOCUSED;
    border-color: $PLAYER_CTRL_BG_COLOUR_FOCUSED;
}

.player-ctrl__back {
    border-radius: 10px;
}

.player-ctrl__back--focused {
    color: $PLAYER_CTRL_FG_COLOUR_FOCUSED;
    background-color: $PLAYER_CTRL_BG_COLOUR_FOCUSED;
    border-color: $PLAYER_CTRL_BG_COLOUR_FOCUSED;
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?1ste5n');
    src: url('/fonts/icomoon.eot?1ste5n#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?1ste5n') format('truetype'),
        url('/fonts/icomoon.woff?1ste5n') format('woff'),
        url('/fonts/icomoon.svg?1ste5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $PLAYER_CTRL_HEIGHT + px;
}

.icon-play:before {
    content: "\ea15";
}
.icon-pause:before {
    content: "\ea16";
}
.icon-stop:before {
    content: "\ea17";
}
.icon-previous:before {
    content: "\ea18";
}
.icon-next:before {
    content: "\ea19";
}
.icon-backward:before {
    content: "\ea1a";
}
.icon-forward:before {
    content: "\ea1b";
}
.icon-arrow-left:before {
    content: "\ea40";
}