body {
    margin: 0;
    overflow: hidden;
}

.grid-row {
    width: 330px;
    height: 110px;
    margin: 5px;
    border: 1px dashed #666;
}

.content-button {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #666;
    box-sizing: border-box;
    float: left;
}

.content-button--focused {
    background-color: grey;
}

.lane {
    height: 110px;
    margin: 5px;
    border: 1px dashed #666;
}

.player-controls {
    border: 1px dashed grey;
    overflow: hidden;
    padding: 5px;
    position: absolute;
}

.button {
    margin-left: 5px;
}

.button:first-child {
    margin-left: 0;
}

.button__play {
    float: left;
    padding: 5px;
    border: 1px solid grey;
}

.button__play--focused {
    color: white;
    background-color: grey;
}

.button__back {
    float: left;
    padding: 5px;
    border: 1px solid grey;
}

.button__back--focused {
    color: white;
    background-color: grey;
}